.Employee-Form-Wrapper * {
    display: block;
}
.Employee-Form-Wrapper > header{
    padding: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
    background-color: darkgray;
    font-size: calc( 14px + (20 - 16) * (100vw - 320px) / (1200 - 320));
}

.Back-Button{
    color: dodgerblue;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.Form-Content{
    padding: 5px 10px;
}
.Form-Content > input{
    font-size: calc( 14px + (20 - 16) * (100vw - 320px) / (1200 - 320));
    border-radius: 5px;
    border: solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 97%;
    padding: 1%;
}
.Save-Button{
    margin-left: auto;
    padding: 8px 12px;
    border-style: none;
    border-radius: 10%;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}